/*---------FOOTER------*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: $color-secundario;


    a {
        text-decoration: none;

        i {
            font-size: 37px;
            color: $color-principal;
            transition: 0.5s;
            &:hover{
            color: $color-terciario;
        }
        }
    }
}