/*-------SECCION INDEX-----*/

.hero {
    width: 100%;
    height: 900px;
    color: black;
    background-image: url(/img/RONALDO2002.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    flex-direction: column;
    @include flex(flex, right, end);
    font-size: 25px;

    h2 {
        color: white;
        font-size: 60px;
        padding-right: 12%;
        padding-top: 10%;
    }

    p {
        color: white;
        font-size: 38px;
        padding-right: 15%;
    }
}


.bienvenida {
    h2 {
        font-size: 40px;
        color: #E9C46A;
        background-color: #1D3557;
        text-align: center;
        font-style: italic;
    }
}

.destacado {
    background-color: #1D3557;
    color: white;

    h2 {
        text-align: center;
        font-size: 30px;
        padding: 40px 0;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 50px;
    }

    .imagen-articulo {
        position: relative;
        height: 700px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            bottom: 0;
            color: white;
            background-color: #1d3557c0;
            width: 100%;
            padding: 8px;
            font-size: 22px;
        }

        .info-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.63);
            color: white;
            padding: 15px;
            opacity: 0;
            transition: all 1s;
            font-size: 18px;
        }

        &:hover .info-hover {
            opacity: 1;
        }
    }
}

.sobrenosotros {
    background-color: #1D3557;
    color: #E9C46A;

    h2 {
        text-align: center;
        font-size: 50px;
        padding: 40px 0;
        font-style: italic;
    }


    .titulo-texto {
        background-color: #1D3557;
        padding: 40px 40px;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            padding: 20px;
        }

        h2 {
            font-size: 50px;
            font-style: italic;
            color: #E9C46A;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            font-size: 20px;
            color: white;
            max-width: 800px;
            margin: 0 auto;
            height: 100%;
            padding-top: 10%;
        }

        img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

/*+++SECCION FUTBOL ARGENTINO*/

.producto-arg {
    background-color: #1D3557;
    color: #E9C46A;

    h2 {
        text-align: center;
        font-size: 50px;
        padding: 40px 0;
        font-style: italic;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 30px;


    }

    .img-argentino {
        position: relative;
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        h3 {
            position: absolute;
            bottom: 0;
            color: white;
            background-color: #1d3557c0;
            width: 100%;
            font-size: 22px;
            padding: 8px;
        }

        .info-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
            opacity: 0;
            transition: all 1s;
            font-size: 16px;

        }

        &:hover .info-hover {
            opacity: 1;
        }
    }
}



/*$-----SECCION FUTBOL INTERNACIONAL------*/

.producto-interna {
    background-color: #1D3557;
    color: #E9C46A;

    h2 {
        text-align: center;
        font-size: 50px;
        font-style: italic;
        padding: 40px 0;

    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 30px;

    }

    .img-interna {
        position: relative;
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            bottom: 0;
            color: white;
            background-color: #1D3557;
            width: 100%;
            font-size: 22px;
            padding: 8px;
        }

        .info-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
            opacity: 0;
            transition: all 1s;
            font-size: 16px;

        }

        &:hover .info-hover {
            opacity: 1;
        }
    }
}

/*------ SECCION CONTACTO-----*/
.contacto {
    background-color: #1D3557;
    margin-bottom: 0;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 50px;
        font-style: italic;
        padding: 40px 0;
        color: #E9C46A;
        background-color: #1D3557;
    }
}

.row {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.g-3 {

    background-color: #E9C46A;
    color: #1D3557;
}

.navbar-toggler {
    background-color: #E9C46A;
}

.btn-primary {
    background-color: #1D3557 !important;
    color: #E9C46A !important;
    border-color: #E9C46A !important;
}

.mapa {
    text-align: center;
    background-color: #1D3557;
    margin: 0;
    padding: 40px;
}